<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sky4s.garminhud.app">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-sdk android:targetSdkVersion="18" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        >

        <!--This meta-data tag is required to use Google Play Services.-->
        <!--<meta-data-->
            <!--android:name="com.google.android.gms.version"-->
            <!--android:value="@integer/google_play_services_version" />-->

        <!--<meta-data android:name="com.google.android.gms.version"-->
            <!--android:value="@integer/google_play_services_version" />-->

        <activity
            android:name="sky4s.garminhud.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="app.akexorcist.bluetoothspp.DeviceList" />

        <service
            android:name="sky4s.garminhud.app.NotificationMonitor"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name="sky4s.garminhud.app.NotificationCollectorMonitorService" />

        <service android:name="chutka.bitman.com.speedometersimplified.LocationService"></service>

    </application>

</manifest>
